@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Platform: @Model.Platform</p>
    <h2>Welcome @Model.AuthenticatedUser.FirstName</h2>
    <ul style="border-width:1px; border-color:gray; border-style:solid; width: 200px; text-align:left;">
        @foreach (var url in Model.AuthenticatedUser.URLs)
        {
        <li><a href="/@url.Key">@url.Key</a></li>
        }
    </ul>

    <h2>Message</h2>
    <p>@Model.Message</p>
</div>
